@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

@font-face {
    font-family: 'Xilosa';
    src: url('font/xilosa_.ttf') format('truetype');
}

:root {
    --cor1: #F7AEB5;
    
    --fonte-destaque: 'Xilosa', sans-serif;
    --fonte-texto: "Handlee", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: var(--cor1);
    color: black;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-destaque);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 8vw;
}

header > p {
    font-family: var(--fonte-texto);
    font-weight: bolder;
    padding-bottom: 50px;
    font-size: 2vw;
}

header a, footer a {
    color: white    ;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section.normal {
    background-color: white;
    color: black;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    padding-left: 30px;
    font-family: var(--fonte-texto);
    font-weight: bolder;
    font-size: 3.5vw;
}

section.imagem {
    background-color: rgb(35, 35, 35);
    color: white;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.389);
}

footer {
    font-family: var(--fonte-texto);    
    font-weight: bold;
    background-color: var(--cor1);
    color: black;
    text-align: center;
    padding: 10px 0px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
}